<!-- COMPONENTE INICIO -->

<!-- SECCION INFO TIEMPO y SECCION USUARIOS (Aside) -->
<main class="main-container">

  <!-- SECCION INFO TIEMPO -->
  <section class="main info-tiempo">
    <!-- INPUT DE BUSQUEDA -->
    <section class="input my-8 ">
      <label for="busqueda">Buscar tu ciudad</label>
      <input #busqueda (keydown.enter)="mostrarDatos(busqueda.value)" class="input-tiempo" type="text"
        placeholder="Buscar ciudad" id="busqueda">
    </section>
    <!-- SECCION TIEMPO BUSCADO -->
    <section class="tiempo-container">
      <section class="sm:col-span-3">
        <!-- Ciudad -->
        <h2 class="text-4xl font-black ">{{ posts.city.name }}, {{ posts.city.country }}</h2>
        <!-- Temperaturas -->
        <div class="temperaturas">
          <div class="f-col sm:flex sm:flex-row justify-center items-center ">
            <div class="f-row">
              <h3 #grados class="font-black ">{{ posts.list[0].temp.day.toFixed(0)}}</h3>
              <div class="f-col mt-8 text-2xl font-black ml-4">
                <span class="cursor-pointer hover:text-button transition-colors  " (click)="cambiarTemperatura()"
                  [class.text-stroke]="!esFahrenheit" [class.text-slate-300]="esFahrenheit">ºC</span>
                <span class="cursor-pointer hover:text-button transition-colors " (click)="cambiarTemperatura()"
                  [class.text-stroke]="esFahrenheit" [class.text-slate-300]="!esFahrenheit">ºF</span>
              </div>
            </div>
            <app-weather-icons [icon]="allData.weather[0].icon"></app-weather-icons>
          </div>
          <div class="">
          </div>
        </div>
        <!-- max y min -->
        <div class="info f-col">
          <article class="f-row gap-4 mt-4 text-2xl font-bold">
            <div class="flex flex-row ">
              <img src="../assets/icons/temp_up.svg" alt="">
              <p class="ml-1">{{ posts.list[0].temp.max}}</p>
            </div>
            <div class="f-row">
              <img src="../assets/icons/temp_down.svg" alt="">
              <p class="ml-1">{{ posts.list[0].temp.min }}</p>
            </div>

          </article>
          <!-- Descripcion, dia semana y hora actual -->
          <div class="ml-5 text-lg mb-8 font-bold text-stroke">
            <p class="">{{nombreDia}}, {{hora}}:{{minuto}}</p>
          </div>
        </div>
      </section>
      <!-- IMG Publicaciones -->
      <div class="publicaciones ">
        @for (user of getusuariosPorCiudad(busqueda.value); track user.id) {
        @for (publicacion of user.publicaciones; track $index) {
        @if (publicacion.url) {
        <a class="h-max" [routerLink]="['/user/'+user.id+ '/publicacion/'+publicacion.id]">
          <img class="" [src]="['assets/img/' +  posts.city.name  + publicacion.url]"
            [alt]="'imagen de ' + posts.city.name">
          <span class="">&#64;{{ user.nombre }}</span>
        </a>
        }
        }
        }
      </div>
    </section>
    <!-- SECTION TIEMPO PRONOSTICO -->
    <section class="section-pronostico ">
      @for (post of posts.list.slice(1); track $index) {
      <div class="pronostico-dia">
        <h3 class="text-3xl font-bold" [ariaLabel]="dias[getDiaSiguiente($index)].toUpperCase()">
          {{dias[getDiaSiguiente($index)].toUpperCase().substring(0,3)}}</h3>
        <div class="mr-8 flex w-full justify-center">
          <app-weather-icons [icon]="post.weather[0].icon"></app-weather-icons>
        </div>
        <div class="text-3xl font-bold text-blue-500">
          <div class="f-row text-start gap-2 justify-center">
            <img src="../assets/icons/temp_up.svg" alt="">
            <p [ngClass]="{
                'text-high': post.temp.max.toFixed(0) > 25,
                'text-medium': post.temp.max.toFixed(0) >= 20 && post.temp.max.toFixed(0) <= 25,
                'text-low': post.temp.max.toFixed(0) <= 19
              }">
              {{ post.temp.max.toFixed(0) }}
            </p>
          </div>
          <div class="f-row justify-center gap-2">
            <img src="../assets/icons/temp_down.svg" alt="">
            <p class="f-row" [ngClass]="{
                'text-high': post.temp.min.toFixed(0) >= 26,
                'text-medium': post.temp.min.toFixed(0) >= 18 && post.temp.min.toFixed(0) <= 25,
                'text-low': post.temp.min.toFixed(0) < 18
              }">
              {{ post.temp.min.toFixed(0) }}
            </p>
          </div>
        </div>
      </div>
      }
    </section>
  </section>
  <!-- SECTION USUARIOS -->
  <aside class="section-usuario">
    <!-- PUBLICACION USUARIO -->
    @for (user of getusuariosPorCiudad(busqueda.value); track user.id) {
    @for (publicacion of user.publicaciones; track $index) {
    @if (publicacion.id) {
    <a [routerLink]="'/user/' + user.id +  '/publicacion/' + publicacion.id" class="card-user publicacion-usuario">
      <img class=" rounded-full  w-max h-max lg:mr-2" [src]="'assets/users/' +  user.nombre + '.png'" alt="">
      <div class="">
        <h3 class=" font-bold sm:hidden lg:block">&#64;{{user.nombre}}</h3>
        <p class="sm:hidden lg:block">{{publicacion.comentario}}</p>
      </div>
    </a>
    }
    }
    }
  </aside>
</main>