* {
  
}


.main {
  display: grid;
  grid-template-areas:
    "tiempo-container"
    "input"
}

.tiempo-container {
  grid-area: tiempo-container;
}

.input {
  grid-area: input;
}

.temperaturas {
  @apply flex flex-row justify-between sm:justify-start items-center;
}



.temperaturas h3 {
  font-size: clamp(6rem, 5vw, 2rem);
}



@media screen and (min-width: 640px) {
  .main {
    grid-template-areas:
      "input"
      "tiempo-container"
  }
}

.publicaciones{
  align-items: start;

}


.publicaciones a{
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 15px;
}


.publicaciones span {
  position: absolute;
  bottom: -100px;
  z-index: 1;
  background-color: rgba(0, 34, 79, 0.722);
  width: 100%;
  border: 1px solid black;  
  font-size: 1.1rem;
  color: white;
  text-align: center;
  font-weight: bold;
  padding:  10px 0 ;

}

.publicaciones a:hover span {
  bottom: 0;
  transition: all 0.1s;
}

.pronostico-dia h3{
  font-size: clamp(1.1rem, 5vw, 1.7rem);
}