<!-- COMPONENTE INICIO -->

<!-- SECCION INFO TIEMPO y SECCION USUARIOS (Aside) -->
<main class="main-container">

  <!-- SECCION INFO TIEMPO -->
  <section class="main info-tiempo">
    <!-- INPUT DE BUSQUEDA -->
    <section class="input my-8">
      <input #busqueda (keydown.enter)="mostrarDatos(busqueda.value)" class="input-tiempo" type="text" placeholder="Buscar ciudad" id="busqueda">
    </section>
    <!-- SECCION TIEMPO BUSCADO -->
    <section class="tiempo-container">
      <section class="sm:col-span-3 ">
        <!-- Ciudad -->
        <h2 class="text-4xl font-black ">{{ posts.name }}</h2>
        <!-- Temperaturas -->
        <div class="temperaturas">
          <div class="f-row">
            <h3 class="text-8xl font-black">{{ posts.main.temp }}</h3>
            <div class="f-col mt-2 text-2xl font-black">
              <span>ºC</span>
              <span class="text-slate-300">ºF</span>
            </div>
          </div>
          <div class="mr-8">
            <!-- iconos {{ posts.weather[0].description }} -->
            <img  src="../assets/icons/sol_medio_dia.png" alt="icon">
          </div>
        </div>
        <!-- max y min -->
        <div class="info f-col">
          <article class="f-row gap-4 mt-4 text-2xl font-bold">
            <div class="flex flex-row ">
              <img src="../assets/icons/temp_up.svg" alt="">
              <p class="ml-1">{{ posts.main.temp_max }}</p>
            </div>
            <div class="f-row">
              <img src="../assets/icons/temp_down.svg" alt="">
              <p class="ml-1">{{ posts.main.temp_min }}</p>
            </div>
          </article>
          <!-- Descripcion, dia semana y hora actual -->
          <div class="text-lg mb-8 font-bold">
            <p>{{nombreDia}}, {{hora}}:{{minuto}}</p>
          </div>
        </div>
      </section>
      <!-- Publicaciones -->
      <div class="publicaciones">
        <img src="{{ imgAbstracta }}" alt="">
        <img src="{{ imagenDesierto }}" alt="">
        <img src="{{ imagenDesierto }}" alt="">
        <img src="{{ imagenDesierto }}" alt="">
      </div>
    </section>


    <!-- SECTION TIEMPO PRONOSTICO -->
    <section class="section-pronostico">
      <div class="pronostico-dia">
        <h3 class="text-3xl font-bold">LUN</h3>
        <div class="mr-8 flex w-full justify-center">
          <img src="../assets/icons/sol_medio_dia.png" alt="icon">
        </div>
        <div class="text-3xl font-bold text-blue-500">
          <p>22º</p>
          <p>9º</p>
        </div>
      </div>
      <!-- ESTA YA SE REPITE, es igual que el de arriba -->
      <div class="p-4 border text-center flex flex-col gap-2 rounded-3xl">
        <h3 class="text-3xl font-bold">LUN</h3>
        <div class="mr-8 flex  w-full justify-center">
          <img src="../assets/icons/sol_medio_dia.png" alt="icon">
        </div>
        <div class="text-3xl font-bold text-blue-500">
          <p>22º</p>
          <p>9º</p>
        </div>
      </div>
      <div class="p-4 border text-center flex flex-col gap-2 rounded-3xl">
        <h3 class="text-3xl font-bold">LUN</h3>
        <div class="mr-8 flex  w-full justify-center">
          <img src="../assets/icons/sol_medio_dia.png" alt="icon">
        </div>
        <div class="text-3xl font-bold text-blue-500">
          <p>22º</p>
          <p>9º</p>
        </div>
      </div>
      <div class="p-4 border text-center flex flex-col gap-2 rounded-3xl">
        <h3 class="text-3xl font-bold">LUN</h3>
        <div class="mr-8 flex  w-full justify-center">
          <img src="../assets/icons/sol_medio_dia.png" alt="icon">
        </div>
        <div class="text-3xl font-bold text-blue-500">
          <p>22º</p>
          <p>9º</p>
        </div>
      </div>
      <div class="p-4 border text-center flex flex-col gap-2 rounded-3xl">
        <h3 class="text-3xl font-bold">LUN</h3>
        <div class="mr-8 flex  w-full justify-center">
          <img src="../assets/icons/sol_medio_dia.png" alt="icon">
        </div>
        <div class="text-3xl font-bold text-blue-500">
          <p>22º</p>
          <p>9º</p>
        </div>
      </div>
    </section>
  </section>

  <!-- SECTION USUARIOS -->
  <aside class="section-usuario">
    <!-- PUBLICACION USUARIO -->
    <a routerLink="user/publicacion" class="card-user publicacion-usuario">
      <img class="w-max h-max lg:mr-2" src="../assets/@user1.png" alt="">
      <div class="">
        <h3 class="sm:hidden lg:block ">&#64;user2</h3>
        <p class="sm:hidden lg:block">Hoy hace un dia estupendo</p>
      </div>
    </a>
    <a routerLink="user/publicacion"
      class="card-user border border-slate-900 flex flex-row rounded-full h-max w-max p-3 justify-center items-center">
      <img class="w-max h-max lg:mr-2" src="../assets/@user1.png" alt="">
      <div class="">
        <h3 class="sm:hidden lg:block ">&#64;user2</h3>
        <p class="sm:hidden lg:block">Hoy hace un dia estupendo</p>
      </div>
    </a>
    <a routerLink="user/publicacion"
      class="card-user border border-slate-900 flex flex-row rounded-full h-max w-max p-3 justify-center items-center">
      <img class="w-max h-max lg:mr-2" src="../assets/@user1.png" alt="">
      <div class="">
        <h3 class="sm:hidden lg:block ">&#64;user2</h3>
        <p class="sm:hidden lg:block">Hoy hace un dia estupendo</p>
      </div>
    </a>
  </aside>
</main>
<!-- FIN COMPONENTE INICIO -->