<div class="sm:min-w-max sm:ml-8 hidden py-4 sm:flex sm:flex-col gap-2 items-start justify-center mt-32 h-max">
    <div class="user1">
        <img src="../../assets/Walter.jpg" alt="">
        <div class="profile-info">
            <h1>Walter White</h1>    
            <h5>Descripción del perfil</h5>
        </div>
    </div>

    <div class="user1">
        <img src="../../assets/Walter.jpg" alt="">
        <div class="profile-info">
            <h1>Walter White</h1>    
            <h5>Descripción del perfil</h5>
        </div>
    </div>

    <div class="user1">
        <img src="../../assets/Walter.jpg" alt="">
        <div class="profile-info">
            <h1>Walter White</h1>    
            <h5>Descripción del perfil</h5>
        </div>
    </div>
</div>