.asideWh .user1 {
    display: flex;
    
    align-items: center;

    
}

.user1{

    border: 10px solid black;

    border-radius: 50px;

    margin-bottom: 30px;
}

.asideWh{
    
    float: right;

    width: 40%;

    height: 150px;

    margin-top: 10%;

    margin-right: 20px;
}

.asideWh .user1 img {
    margin: 20px;
    max-width: 100px;

    border-radius: 50%;

}

.asideWh .user1 .profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info{
    margin-left: 100px;
}


.asideWh .user1 h1,
.asideWh .user1 h5 {
    margin: 0;
}