<div class="asideWh">
    <div class="user1">
        <img src="../../assets/Walter.jpg" alt="">
        <div class="profile-info">
            <h1>Walter White</h1>    
            <h5>Descripción del perfil</h5>
        </div>
    </div>

    <div class="user1">
        <img src="../../assets/Walter.jpg" alt="">
        <div class="profile-info">
            <h1>Walter White</h1>    
            <h5>Descripción del perfil</h5>
        </div>
    </div>

    <div class="user1">
        <img src="../../assets/Walter.jpg" alt="">
        <div class="profile-info">
            <h1>Walter White</h1>    
            <h5>Descripción del perfil</h5>
        </div>
    </div>
</div>