<section class="w-3/6 m-auto">

  <article>
    <h3 class="text-3xl my-4 ">GenCraft</h3>
    <p>Existen imágenes realizadas con Gen Craft utilizadas para las publicaciones de los usuarios</p>
    <p>"Sujeto a estos Términos (incluyendo la licencia establecida en la Sección 3.2 y las exenciones de
      responsabilidad establecidas en la Sección 6), la Empresa le concede (i) una licencia no transferible, no
      exclusiva, revocable y limitada para usar y acceder a Gencraft únicamente para su uso personal y no comercial, y
      (ii) una licencia para su Contenido Generado bajo Creative Commons No Comercial 4.0 Licencia Internacional de
      Atribución"</p>
  </article>
  <article>
    <h3 class="text-3xl my-4 ">BLUSH</h3>
    <p>
      Licencia
      Todas las ilustraciones publicadas en Blush pueden utilizarse gratuitamente.

      Lo que está permitido:
      Puedes utilizar las Ilustraciones con fines comerciales y no comerciales.
      Puedes utilizar una ilustración para crear un producto final para ti o para un cliente.
      Puede hacer cualquier número de copias del Producto Final creado utilizando una Ilustración. Puede distribuir el
      Producto Final a través de múltiples medios (es decir, sitio web, redes sociales, libros electrónicos, etc.).
      Puede modificar o manipular una Ilustración, o combinar la Ilustración con otras obras, para adaptarla a su
      Producto Final
    </p>
    <p>
      CC0 1.0 Universal: Sin derechos autorales
      La persona que asoció una obra con este resumen ha dedicado la obra al dominio público, mediante la renuncia a
      todos sus derechos a la obra bajo las leyes de derechos autorales en todo el mundo, incluyendo todos los derechos
      conexos y afines, en la medida permitida por la ley. Puedes copiar, modificar, distribuir e interpretar la obra,
      incluso para propósitos comerciales, sin pedir permiso1.
    </p>
  </article>
  <article>
    <h3 class="text-3xl mb-4 ">Openweather</h3>
    <p>
      “Datos meteorológicos proporcionados por OpenWeather”
      Enlace a nuestro sitio web: OpenWeather
      Logotipo de OpenWeather: Ofrecemos una biblioteca con diferentes estilos para que coincida con el diseño de tu aplicación. Puedes descargarlos aquí.
      Recuerda que esta atribución es obligatoria para los planes entre Gratuito y Profesional.
    </p>


  </article>



</section>