<section class="w-3/6 m-auto">

  <div class="text-5xl text-center font-bold my-8 bg-button p-4 rounded">
    <h1 class=" text-main">Atribuciones</h1>
  </div>

  <article>
    <a class="font-bold mt-16 mb-2 text-3xl block" href="https://gencraft.com/terms" target="_blank">Gen Craft</a>
    <p>Existen imágenes realizadas con Gen Craft utilizadas para las publicaciones de los usuarios</p>
    <p>"Sujeto a estos Términos (incluyendo la licencia establecida en la Sección 3.2 y las exenciones de
      responsabilidad establecidas en la Sección 6), la Empresa le concede (i) una licencia no transferible, no
      exclusiva, revocable y limitada para usar y acceder a Gencraft únicamente para su uso personal y no comercial, y
      (ii) una licencia para su Contenido Generado bajo Creative Commons No Comercial 4.0 Licencia Internacional de
      Atribución"</p>
  </article>
  <article>
    <a class="font-bold mt-16 mb-2 text-3xl block" href="https://blush.design/es/terms"
      aria-label="enlace a página oficial de BLUSH" target="_blank">Blush</a>

    <p>
      Todas las ilustraciones publicadas en Blush pueden utilizarse gratuitamente.

    </p><br>

    <p>
      <span class=" font-bold text-green-600">✅ Lo que está permitido </span><br>
      Puedes utilizar las Ilustraciones con fines comerciales y no comerciales.
      Puedes utilizar una ilustración para crear un producto final para ti o para un cliente.
      Puede hacer cualquier número de copias del Producto Final creado utilizando una Ilustración. Puede distribuir el
      Producto Final a través de múltiples medios (es decir, sitio web, redes sociales, libros electrónicos, etc.).
      Puede modificar o manipular una Ilustración, o combinar la Ilustración con otras obras, para adaptarla a su
      Producto Final
    </p><br>
    <p>
      CC0 1.0 Universal: Sin derechos autorales
      La persona que asoció una obra con este resumen ha dedicado la obra al dominio público, mediante la renuncia a
      todos sus derechos a la obra bajo las leyes de derechos autorales en todo el mundo, incluyendo todos los derechos
      conexos y afines, en la medida permitida por la ley. Puedes copiar, modificar, distribuir e interpretar la obra,
      incluso para propósitos comerciales, sin pedir permiso1.
    </p>
  </article>
  <article>
    <a class="font-bold mt-16 mb-2 text-3xl block" target="_blank"
      href="https://openweather.co.uk/storage/app/media/Terms/Openweather_terms_and_conditions_of_sale.pdf">OpenWeather</a>
    <p>“Datos meteorológicos proporcionados por OpenWeather. Recuerda que esta atribución es obligatoria para los planes
      entre Gratuito y Profesional.
    </p>
    <p>Logotipo de OpenWeather: Ofrecemos una biblioteca con diferentes estilos para que coincida con el diseño de tu
      aplicación. Puedes descargarlos desde el siguiente enlace:
    </p>
    <a class="font-bold mt-2 block" href="https://openweathermap.org/storage/app/media/logo_files.zip" download
      aria-label="Descargar logotipos de OpenWeather"  target="_blank" >Descargar logotipos de OpenWeather</a>


  </article>
</section>