<section class="w-full bg-slate-900 sm:rounded-lg py-12 relative">
    <a routerLink="user" class="text-slate-100  absolute top-[-20px] left-20">
        <img class="" src="../../../assets/@user1.png" alt="">
        <p>Marcelo</p>
    </a>
</section>
<section class="h-screen">
    <article class="sm:grid flex flex-col sm:grid-cols-5 gap-8">
        <div class="sm:col-span-3 sm:rounded-xl sm:mt-4 overflow-hidden">
            <img src="../../../assets/img/img-atardecer.png" alt="">
        </div>
        <div class="px-8 col-span-2 sm:mt-4">
            <p><span class=" font-bold">Marcelo Martinez </span>Mañana por la mañana disfruta del aperitivo con el
                tiempo que hace</p>
            <div class="my-4 flex flex-wrap gap-2">
                <span class="py-1 px-3 rounded-full bg-cyan-100" arial-label="pato">22ºC</span>
                <span class="py-1 px-3 rounded-full bg-red-100">Murcia</span>
                <span class="py-1 px-3 rounded-full bg-green-100">Despejado</span>
                <span class="py-1 px-3 rounded-full bg-yellow-100">18 Abril 22</span>
            </div>
        </div>

    </article>
</section>