<section class="w-full bg-slate-900 sm:rounded-lg p-12 relative">
    <div class="text-slate-100  absolute top-[-20px] left-20">
        <img class="" src="../../../assets/@user1.png" alt="">
        <p>Marcelo</p>
    </div>
</section>
<section>
    <article class="sm:grid flex flex-col sm:grid-cols-5 gap-8">
        <div class="sm:col-span-3 sm:rounded-xl overflow-hidden">
            <img src="../../../assets/img_publicacion.jpg" alt="">
        </div>
        <div class="px-8">
            <ul>

                <p>
                    <span class=" font-bold">Marcelo Martinez </span>Mañana por la mañana disfruta del aperitivo
                    con el tiempo que hace
                </p>
                <div class="my-4 flex flex-wrap gap-2">
                    <span class="py-1 px-3 rounded-full bg-cyan-100">22ºC</span>
                    <span class="py-1 px-3 rounded-full bg-red-100">Murcia</span>
                    <span class="py-1 px-3 rounded-full bg-green-100">Despejado</span>
                    <span class="py-1 px-3 rounded-full bg-yellow-100">18 Abril 22</span>
                </div>
            </ul>
        </div>

    </article>
</section>