<section class="w-full bg-stroke sm:rounded-lg py-12 relative">
  <a  class="border" [routerLink]="'user/' + publiDet.usuario.id " class="text-slate-100  absolute top-[-20px] left-20">
    <img class="w-[85px] hover:scale-105 transition-transform border-2 border-stroke rounded-full" [src]="'assets/users/' + publiDet.usuario.imagenPerfil" alt="">
    <p class="text-stroke "></p>
  </a>
</section>
<section class="h-screen">
  <article class="w-4/6 m-auto sm:grid flex flex-col sm:grid-cols-5 gap-8 mt-8  ">
    <div class="w-full h-full sm:col-span-2 sm:rounded-xl">
      @if (publiDet.publicacion.url.endsWith('.mp4')) {
      <video width="400" controls>
        <source [src]="'assets/videos' + publiDet.publicacion.url" type="video/mp4">
      </video>
      } @else {
      <img class="w-full h-full object-cover" [src]="'assets/img/' + publiDet.usuario.ciudad + publiDet.publicacion.url" alt="">
      @if (publiDet.publicacion.url.includes('gen')) { 
        <p class=" italic">Esta imagen está generada con <a href="https://gencraft.com/">Gen Craft</a></p>}
      }
    </div>
    <div class="px-8 col-span-2 sm:mt-4">
      <p><span class=" font-bold">{{publiDet.usuario.nombre}}</span>
        {{ publiDet.publicacion.comentario }}
      </p>
      <div class="my-4 flex flex-wrap gap-2">
        <span class="py-1 px-3 rounded-full bg-cyan-100" arial-label="pato">22ºC</span>
        <span class="py-1 px-3 rounded-full bg-red-100">Murcia</span>
        <span class="py-1 px-3 rounded-full bg-green-100">Despejado</span>
        <span class="py-1 px-3 rounded-full bg-yellow-100">18 Abril 22</span>
      </div>
      <div>
        @if (publiDet.publicacion.url.endsWith('.mp4')) {
          <a [href]="'assets/videos' + publiDet.publicacion.url" download>
            <button
              class=" my-8 hover:bg-stroke font-bold rounded transition-colors hover:text-main border p-4 text-stroke"
              type="button">Descargar video</button>
          </a>
          } @else {
            
          <a [href]="'assets/img/' + publiDet.usuario.ciudad + publiDet.publicacion.url" download>
            <button
              class=" my-8 hover:bg-stroke font-bold rounded transition-colors hover:text-main border p-4 text-stroke"
              type="button">Descargar imagen</button>
          </a>
        }
      </div>
    </div>
  </article>
</section>