<!-- TODO:Hay que hacer la maquetacion con grid Ya que en distintas resoluciones los objetos se moverán de un lugar a otro, Eso me da la posibilidad de tambien mover el buscador de arriba a abajo. 

-->


<section class="border">
  <app-nav class=""></app-nav>
</section>
<main class="main w-4/5 m-auto">
  <!-- INPUT DE BUSQUEDA -->
  <section class="input border">
    <input class="" type="text" placeholder="Buscar ciudad" id="busqueda">
  </section>

  <!-- SECTION TIEMPO DE HOY -->
  <section class="tiempo-container border">
    <section class="temperaturas  p-4">
      <!-- Ciudad -->
      <h2 class="text-4xl font-black ">Murcia,ES</h2>
      <!-- Temperaturas -->
      <div class="flex flex-row justify-between items-center">
        <h3 class="text-7xl font-black">22º</h3>
        <div class="flex flex-col mt-2 text-2xl font-black">
          <span>ºC</span>
          <span>ºF</span>
        </div>
        <div>
          <img src="../assets/icons/sol_medio_dia.png" alt="icon">
        </div>
      </div>
      <!-- max y min -->
      <div class="info flex flex-col">
        <article class="flex flex-row gap-4 mt-4">
          <div class="flex flex-row">
            <img src="../assets/icons/temp_up.svg" alt="">
            <h4>25º</h4>
          </div>
          <div class="flex flex-row">
            <img src="../assets/icons/temp_down.svg" alt="">
            <h4>9º</h4>
          </div>
        </article>
        <!-- Descripcion, dia semana y hora actual -->
        <div class="text-lg mb-4 font-bold">
          <p>Despejado Vie, 12:00</p>
        </div>
      </div>
      <!-- Publicaciones -->
      <div class="grid grid-cols-2 gap-5 w-full ">
        <img class="aspect-square w-full" src="{{ imgAbstracta }}" alt="">
        <img class="aspect-square w-full" src="{{ imagenDesierto }}" alt="">
      </div>
    </section>
  </section>

  <router-outlet></router-outlet>
</main>