<!-- PERFIL DEL USUARIO -->
<section class="h-screen">
    <!-- BANNER USUARIO -->
    <section class="w-full bg-slate-900 rounded-lg p-12 relative">
        <div class="text-slate-100  absolute top-[-20px] left-20">
            <a routerLink="user">
                <img class="" src="../../../assets/@user1.png" alt="">
                <p>Marcelo</p>
            </a>
        </div>
    </section>
    <!-- IMAGENES DE LAS PUBLICACIONES DEL USUARIO -->
    <section class="publicaciones-perfil-usuario">
        <div class="publicacion-user">
            <a routerLink="publicacion">
                <img src="../../../assets/img_publicacion.jpg" alt="">
            </a>
        </div>
        <div class="publicacion-user">
            <a routerLink="publicacion">
                <img src="../../../assets/img_publicacion.jpg" alt="">
            </a>
        </div>
        <div class="publicacion-user">
            <a routerLink="publicacion">
                <img src="../../../assets/img_publicacion.jpg" alt="">
            </a>
        </div>
        <div class="publicacion-user">
            <a routerLink="publicacion">
                <img src="../../../assets/img_publicacion.jpg" alt="">
            </a>
        </div>
        <div class="publicacion-user">
            <a routerLink="publicacion">
                <img src="../../../assets/img_publicacion.jpg" alt="">
            </a>
        </div>
        <div class="publicacion-user">
            <a routerLink="publicacion">
                <img src="../../../assets/img_publicacion.jpg" alt="">
            </a>
        </div>

    </section>

</section>