<section class="border h-screen">

    <section class="w-full bg-slate-900 rounded-lg p-12 relative">
        <div class="text-slate-100  absolute top-[-20px] left-20">
            <a routerLink="user">
                <img class="" src="../../../assets/@user1.png" alt="">
                <p>Marcelo</p>
            </a>
        </div>
    </section>


    <section class="publicaciones-container grid grid-cols-2 sm:grid-cols-3 gap-2 py-2">
        <div class="publicacion border-2 border-slate-900 overflow-hidden rounded-lg">
            <a routerLink="publicacion">
                <img src="../../../assets/img_publicacion.jpg" alt="">
            </a>
        </div>
        <div class="publicacion border-2 border-slate-900 overflow-hidden rounded-lg ">
            <img class="" src="../../../assets/img_publicacion.jpg" alt="">
        </div>
        <div class="publicacion border-2 border-slate-900 overflow-hidden rounded-lg ">
            <img class="" src="../../../assets/img_publicacion.jpg" alt="">
        </div>
        <div class="publicacion border-2 border-slate-900 overflow-hidden rounded-lg ">
            <img class="" src="../../../assets/img_publicacion.jpg" alt="">
        </div>
        <div class="publicacion border-2 border-slate-900 overflow-hidden rounded-lg ">
            <img class="" src="../../../assets/img_publicacion.jpg" alt="">
        </div>
        <div class="publicacion border-2 border-slate-900 overflow-hidden rounded-lg ">
            <img class="" src="../../../assets/img_publicacion.jpg" alt="">
        </div>
    </section>

</section>