<footer class="border-2 rounded-xl p-16">
  <div class="mx-auto flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-7">Licencias y atribuciones</h1>
    <div class="flex mb-4">
      <div class="w-6/6 mr-2">
        <div class="flex">
          <img src="../../../assets/Pulpo gen.PNG" alt="" class="w-10 h-10 mr-4">
          <img alt="Licencia de Creative Commons" style="border-width:0"
            src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /><br />
        </div>
        <p>Creative Commons <br><strong><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
              Reconocimiento-NoComercial 4.0 Internacional </a></strong></p>
      </div>
      <div class="w-6/6   ml-10">
        <div class="flex">
          <img src="../../../assets/Feliz.PNG" alt="" class="w-10 h-10 mr-4">
          <img alt="Licencia de Creative Commons" style="border-width:0"
            src="https://licensebuttons.net/p/zero/1.0/88x31.png" /><br />
        </div>
        <p> <a rel="license" href="http://creativecommons.org/licenses/by-nc/1.0/"> <strong>CC0 1.0 Universal</strong>
          </a> Sin derechos de autorales </p>
      </div>
      <div class="w-6/6  ml-10">
        <div class="flex">
          <img src="../../../assets/openweather icon.PNG" alt="" class=" ">
        </div>
        <p>Datos meteorológicos <br>proporcionados por <strong> <a rel="license"
              href="http://creativecommons.org/licenses/by-nc/4.0/"> OpenWeather </a> </strong></p>
      </div>
    </div>
    <p class="text-center text-xl">Proyecto realizado para la asignatura de <span class="text-pink-500"><strong>Diseño
          de interfaces web</strong></span></p>
  </div>
</footer>