<footer class="py-20 m-auto mt-10 mb-24 ">
  <div class="mx-auto flex flex-col items-center w-5/6">
    <div>
      <h1 class="text-3xl font-bold mb-7 text-center">Licencias y atribuciones</h1>
    </div>
    <section class="icons-container   grid grid-cols-1  sm:grid-cols-3 text-center mb-16 mt-8">
      <!-- GEN CRAFT -->
      <article class="mt-16 sm:mt-4">
        <div class="flex flex-row justify-center ">
          <a class="hover:scale-105 transition-transform" href="https://gencraft.com/" target="_blank">
            <img class="" [src]="'assets/icons/gen-craft.png'" alt="icono de gen-craft" class="w-10 h-10 mr-4">
          </a>
          <a class="hover:scale-105 transition-transform" href="https://creativecommons.org/licenses/by-nc/4.0/"
            target="_blank">
            <img class="object-cover" alt="Licencia de Creative Commons"
              src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /><br />
          </a>
        </div>
        <p>Creative Commons
          <strong>
            <a class="hover:text-button transition-colors" rel="license"
              href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
              Reconocimiento-NoComercial 4.0 Internacional
            </a>
          </strong>
        </p>
      </article>

      <!-- BLUSH -->
      <article class="mt-16 sm:mt-4">
        <div class="flex flex-row justify-center">
          <a class="hover:scale-105 transition-transform" href="https://blush.design/collections/open-peeps/open-peeps"
            target="_blank">
            <img class="" [src]="'assets/icons/blush.png'" alt="icono de gen-craft" class="w-10 h-10 mr-4">
          </a>
          <a class="hover:scale-105 transition-transform" href="https://creativecommons.org/publicdomain/list.en"
            target="_blank">
            <img class="object-cover" alt="Licencia de Creative Commons" src="assets/icons/public-domain.png" /><br />
          </a>
        </div>
        <p class="">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/1.0/" target="_blank"> <strong
              class="hover:text-button transition-colors">CC0 1.0 Universal</strong>
          </a> Sin derechos de autorales
        </p>
      </article>

      <!-- OPEN WEATHER -->
      <article class="mt-16 sm:mt-4">
        <div class="flex flex-row justify-center ">
          <a class="hover:scale-105 transition-transform" href="https://openweathermap.org/api" target="_blank">
            <img class="" [src]="'assets/icons/open-weather.png'" alt="icono de open-weather">
          </a>
        </div>
        <p class="mt-4">
          Creative Commons
          <strong >
            <a class="hover:text-button transition-colors" rel="license"
              href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
              Reconocimiento-NoComercial 4.0 Internacional </a>
          </strong>
        </p>
      </article>



      <!-- Refactorizando -->
      <!-- <div class="w-6/6   ml-10">
        <div class="flex">
          <img [src]="'assets/icons/blush.png'" alt="" class="w-10 h-10 mr-4">
          <img  class="" alt="Licencia de Creative Commons" style="border-width:0"
            src="https://licensebuttons.net/p/zero/1.0/88x31.png" /><br />
        </div>
        <p> <a rel="license" href="http://creativecommons.org/licenses/by-nc/1.0/"> <strong>CC0 1.0 Universal</strong>
          </a> Sin derechos de autorales </p>
      </div>
      <div class="w-6/6  ml-10">
        <div class="flex">
          <img src="../../../assets/openweather icon.PNG" alt="" class=" ">
        </div>
        <p>Datos meteorológicos <br>proporcionados por <strong> <a rel="license"
              href="http://creativecommons.org/licenses/by-nc/4.0/"> OpenWeather </a> </strong></p>
      </div> -->

    </section>
    <p class="text-center text-xl">Proyecto realizado para la asignatura de <span class="text-pink-500"><strong>Diseño
          de interfaces web</strong></span></p>
  </div>
</footer>