<footer class="p-8">

    <div class="">
        <div class="">
            <div class="grid grid-cols-l md:grid-cols-2 lg:grid-cols-4 gap-2">
                <div class="mb-5">

                    <h4>Social Weather</h4>
                    C. Maestro Pedro Perez Abadia<br>
                    2A, 30100 Espinardo, Murcia <br>
                    España <br><br>
                    <strong>Phone:</strong> 968 83 46 05<br>
                    <strong>Email</strong>gmail.com<br>
                </div>
                <div class="mb-5">
                    <h4>Useful Links</h4>

                    <ul class="text-gray-500">



                        <li class="pb-4"><i class="fa fa-chevron-right text-yellow-500"></i> <a href="#"
                                class=""></a>Home</li>
                        <li class="pb-4"><i class="fa fa-chevron-right text-yellow-500"></i> <a href="#"
                                class=""></a>About Us</li>
                        <li class="pb-4"><i class="fa fa-chevron-right text-yellow-500"></i> <a href="#"
                                class=""></a>Services</li>
                        <li class="pb-4"><i class="fa fa-chevron-right text-yellow-500"></i> <a href="#"
                                class=""></a>Terms of services</li>
                        <li class="pb-4"><i class="fa fa-chevron-right text-yellow-500"></i> <a href="#"
                                class=""></a>Privacy policy</li>

                    </ul>

                </div>

                <div class="mb-5">

                    <h4>Our Services</h4>

                    <ul class="text-gray-500">

                        <li class="pb-4">
                            <i class="fa fa-chevron-right "></i>
                             <a href="#" class="">
                            </a>Web design</li>
                        <li class="pb-4"><i class="fa fa-chevron-right "></i> <a href="#"
                                class=""></a>Web development</li>
                        <li class="pb-4"><i class="fa fa-chevron-right "></i> <a href="#"
                                class=""></a>Product Management</li>
                        <li class="pb-4"><i class="fa fa-chevron-right "></i> <a href="#"
                                class=""></a>Marketing</li>
                        <li class="pb-4"><i class="fa fa-chevron-right "></i> <a href="#"
                                class=""></a>Graphic design</li>
                    </ul>


                </div>

                <div class="mb-5">

                    <h4>Join our Newsletter</h4>
                    <p>---</p>

                    <form class="flex flex-row flex-wrap">
                        <input type="text" class="text-gray-500 w-2/3 p-2 focus:border-yellow-500"
                            placeholder="email@example.com">

                        <button class="p-2 w-1/3 bg-yellow-500 text-white hover:bg-yellow-600">Suscribe</button>

                    </form>

                </div>


            </div>


        </div>

        <div class="w-full bg-gray-900 text-gray-500 px-10"></div>
        <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-between items-center">

            <div class="text-center">

                <div>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                        <img alt="Licencia de Creative Commons" style="border-width:0"
                            src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />Este obra está bajo
                    una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                        licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional <br>
                    </a>
                    Copyright <strong><span>company</span></strong>. All Rights Reserved
                </div>

                <div>
                    Designed by <a href="#" class="">TailwindCss</a>
                </div>

            </div>

            <div>
                <a href="#" class=""><i class="fa fa-twitter"></i></a>

                <a href="#" class=""><i class="fa fa-instagram"></i></a>

                <a href="#" class=""><i class="fa fa-facebook"></i></a>

                <a href="#" class=""><i class="fa fa-skype"></i></a>

                <a href="#" class=""><i class="fa fa-linkedin"></i></a>
            </div>

        </div>

    </div>


</footer>