<nav class="justify-around items-center py-4 mb-8 mx-8 sm:ml-00 sm:w-4/6 sm:m-auto">
    <div class="flex flex-row">
        <div class="logo w-full">
            <a class="f-row aspect-square w-14 items-center gap-5" routerLink="/">
              <div class="mt-8 hidden sm:block">

                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                  <g clip-path="url(#clip0_287_506)">
                    <path d="M70 35C70 15.67 54.33 0 35 0C15.67 0 0 15.67 0 35C0 54.33 15.67 70 35 70C54.33 70 70 54.33 70 35Z" fill="#3da9fc"/>
                    <path d="M50.6241 34.8747C50.4448 34.8747 50.2667 34.8816 50.0897 34.8942C50.1149 34.5598 50.1276 34.223 50.1276 33.8828C50.1276 26.623 44.2425 20.7391 36.9839 20.7391C31.5713 20.7391 26.9241 24.0115 24.9092 28.6839C24.1667 28.5161 23.3943 28.4264 22.6 28.4264C16.8471 28.4264 12.1839 33.0896 12.1839 38.8425C12.1839 44.5954 16.8471 49.2586 22.6 49.2586C22.6034 49.2586 22.6069 49.2586 22.6103 49.2586V49.2621H50.6126V49.2586C50.6126 49.2586 50.6195 49.2586 50.6241 49.2586C54.5965 49.2586 57.8161 46.0391 57.8161 42.0667C57.8161 38.0942 54.5965 34.8747 50.6241 34.8747Z" fill="#FEFFFF"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_287_506">
                      <rect width="70" height="70" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              </div>
                <h1 class="text-5xl text-stroke">Social <span>Weather</span></h1>
            </a>
        </div>
        <div class="icono w-full flex justify-end items-center">
            <div (click)="clicked()" class="cursor-pointer p-1 burger {{ clickToggle ? 'cross' : '' }}">
                <div class="text-stroke"></div>
                <div class="text-stroke"></div>
                <div class="text-stroke"></div>
            </div>
        </div>
    </div>


    <ul class="{{ clickToggle ? 'menu-active' : 'menu' }} text-stroke font-black">
        <li class="cursor-pointer hover:text-button"><a routerLink="/publicaciones">Publicaciones</a></li>
        <li class="cursor-pointer hover:text-button"><a routerLink="/atribuciones">Atribuciones</a></li>

    </ul>
</nav>