<nav class="justify-around items-center py-4 mb-8 ml-8 sm:ml-00">
    <div class="flex flex-row">
        <div class="logo w-full">
            <a class="f-row aspect-square w-14 items-center gap-5" routerLink="/">
                <svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 609 609">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #04e0e0;
                                stroke: #000;
                                stroke-miterlimit: 10;
                                stroke-width: .25px;
                            }

                            .cls-2 {
                                fill: #55acee;
                            }
                        </style>
                    </defs>
                    <g id="Capa_2-2" data-name="Capa 2">
                        <g>
                            <rect class="cls-2" x="0" y="0" width="609" height="609" rx="304.5" ry="304.5" />
                            <path class="cls-1"
                                d="m440.43,303.41c-1.56,0-3.11.06-4.65.17.22-2.91.33-5.84.33-8.8,0-63.16-51.2-114.35-114.35-114.35-47.09,0-87.52,28.47-105.05,69.12-6.46-1.46-13.18-2.24-20.09-2.24-50.05,0-90.62,40.57-90.62,90.62s40.57,90.62,90.62,90.62c.03,0,.06,0,.09,0v.03h243.62v-.03s.06,0,.1,0c34.56,0,62.57-28.01,62.57-62.57s-28.01-62.57-62.57-62.57Z" />
                        </g>
                    </g>
                </svg>
                <h1 class="text-primario">Social <span>Weather</span></h1>
            </a>
        </div>
        <div class="  icono w-full flex justify-end items-center">
            <div (click)="clicked()" class="cursor-pointer p-1 burger {{ clickToggle ? 'cross' : '' }}">
                <div class="text-primario"></div>
                <div class="text-primario"></div>
                <div class="text-primario"></div>
            </div>
        </div>
    </div>


    <ul class="{{ clickToggle ? 'menu-active' : 'menu' }} text-primario font-black">
        <li class="cursor-pointer"><a routerLink="/user">Publicaciones</a></li>
        <li class="cursor-pointer"><a routerLink="/about">About</a></li>
        <li class="cursor-pointer"><a routerLink="/contact">Contact</a></li>
    </ul>
</nav>