<nav class=" justify-around items-center p-4 mb-8">
    <div class="flex flex-row" aria-label="Social Weather">
        <div class="logo w-full" aria-label="Social Weather">
            <a routerLink="/">
                <h1 class="" aria-label="Social Weather" >Social <span>Weather</span></h1>
            </a>

        </div>
        <div class="  icono w-full flex justify-end items-center">
            <div (click)="clicked()" class="cursor-pointer p-1 burger {{ clickToggle ? 'cross' : '' }}">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <ul class="{{ clickToggle ? 'menu-active' : 'menu' }}">
        <li class="cursor-pointer"><a routerLink="/user">Publicaciones</a></li>
        <li class="cursor-pointer"><a routerLink="/about">About</a></li>
        <li class="cursor-pointer"><a routerLink="/contact">Contact</a></li>
    </ul>
</nav>