/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: 'Roboto', sans-serif;
}



body {
    @apply w-full mx-auto;
}



.logo {
    font-weight: 700;
    font-size: 44px;
}

.logo h1 {
    position: relative;

}

.logo span {
    position: absolute;
    top: 25px;
    left: 20px;

    background: linear-gradient(267deg, #39F 43.89%, #45C7FF 99.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tiempo-container {
    box-shadow: 8px 8px 0px rgb(1, 10, 91);
}

.img_publi {
    @apply rounded-lg aspect-square w-[200px];

}