<!DOCTYPE html>
<html>

<head>
    <title>Información del Viento</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <h2>Información del Viento</h2>
    <table>
        <tr>
            <th>Medida</th>
            <th>Valor</th>
            <th>Unidad</th>
        </tr>
        <tr>
            <td>Dirección del Viento (Deg)</td>
            <td>240</td>
            <td>grados</td>
        </tr>
        <tr>
            <td>Ráfagas de Viento</td>
            <td>3.39</td>
            <td>m/s</td>
        </tr>
        <tr>
            <td>Velocidad del Viento</td>
            <td>3.08</td>
            <td>m/s</td>
        </tr>
        <tr>
            <td>Velocidad del Viento</td>
            <td>3.08</td>
            <td>m/s</td>
        </tr>
    </table>

</body>

</html>